{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pago</th>
                <th>Fecharegistro</th>
                <th>Horaregistro</th>
                <th>Obs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pago in pagos %}
            <tr>
                <td><a href="{{ path('pago_show', { 'id': pago.id }) }}">{{ pago.id }}</a></td>
                <td>{{ pago.pago }}</td>
                <td>{% if pago.fechaRegistro %}{{ pago.fechaRegistro|date('Y-m-d') }}{% endif %}</td>
                <td>{% if pago.horaRegistro %}{{ pago.horaRegistro|date('H:i:s') }}{% endif %}</td>
                <td>{{ pago.obs }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pago_show', { 'id': pago.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pago_edit', { 'id': pago.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pago_new') }}">Create a new pago</a>
        </li>
    </ul>
{% endblock %}
