{% extends 'base.html.twig' %}

{% block body %}
    <h1>Habitacions list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Capacidad</th>
                <th>Precio</th>
                <th>Piso</th>
                <th>Nrohabitacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habitacion in habitacions %}
            <tr>
                <td><a href="{{ path('habitacion_show', { 'id': habitacion.id }) }}">{{ habitacion.id }}</a></td>
                <td>{{ habitacion.habitacionTipo.habitacionTipo }}</td>
                <td>{{ habitacion.capacidad }}</td>
                <td>{{ habitacion.precio }} Bs.</td>
                <td>{{ habitacion.pisoTipo.detalle }}</td>
                <td>{{ habitacion.nroHabitacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('habitacion_show', { 'id': habitacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('habitacion_edit', { 'id': habitacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('habitacion_new') }}">Create a new habitacion</a>
        </li>
    </ul>

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(function(){
            $('#menu_habitacion').addClass('navigation__active');
        })
    </script>
{% endblock %}
