{% extends 'base.html.twig' %}

{% block body %}
    <h1>Habitacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ habitacion.id }}</td>
            </tr>
            <tr>
                <th>Capacidad</th>
                <td>{{ habitacion.capacidad }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ habitacion.precio }}</td>
            </tr>
            <tr>
                <th>Nrohabitacion</th>
                <td>{{ habitacion.nroHabitacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('habitacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('habitacion_edit', { 'id': habitacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
