{% extends 'base.html.twig' %}

{% block body %}
    <header class="content__title">
        <h1>Datos habitación</h1>
        <div class="actions">

        </div>
    </header>

    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ habitacion.id }}</td>
                            </tr>
                            <tr>
                                <th>Capacidad</th>
                                <td>{{ habitacion.capacidad }}</td>
                            </tr>
                            <tr>
                                <th>Precio</th>
                                <td>{{ habitacion.precio }}</td>
                            </tr>
                            <tr>
                                <th>Nrohabitacion</th>
                                <td>{{ habitacion.nroHabitacion }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <a href="{{ path('habitacion_index') }}" class="btn btn-info">Volver atras</a>
                    <a href="{{ path('habitacion_edit', { 'id': habitacion.id }) }}" class="btn btn-primary">Editar</a>
                    {{ form_start(delete_form, {'attr':{'style':'display:inline-block'} }) }}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
