{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagotipos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pagotipo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pagoTipo in pagoTipos %}
            <tr>
                <td><a href="{{ path('pagotipo_show', { 'id': pagoTipo.id }) }}">{{ pagoTipo.id }}</a></td>
                <td>{{ pagoTipo.pagoTipo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pagotipo_show', { 'id': pagoTipo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pagotipo_edit', { 'id': pagoTipo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pagotipo_new') }}">Create a new pagoTipo</a>
        </li>
    </ul>
{% endblock %}
