{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagotipo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pagoTipo.id }}</td>
            </tr>
            <tr>
                <th>Pagotipo</th>
                <td>{{ pagoTipo.pagoTipo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pagotipo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pagotipo_edit', { 'id': pagoTipo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
