{% extends 'base.html.twig' %}

{% block body %}
    <header class="content__title">
        <h1>Tipos de estado de reservas</h1>
        <div class="actions">
            <a href="{{ path('reservaestadotipo_new') }}"> <span><i class="zmdi zmdi-plus zmdi-hc-fw"></i> <span>Crear nuevo estado de reserva</span></span></a>
        </div>
    </header>
    <div class="card">
        <div class="card-block">
            <table class="table data-table" id="data-table">
                <thead class="table-inverse">
                    <tr>
                        <th>Id</th>
                        <th>Reserva estado tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for reservaEstadoTipo in reservaEstadoTipos %}
                    <tr>
                        <td><a href="{{ path('reservaestadotipo_show', { 'id': reservaEstadoTipo.id }) }}">{{ reservaEstadoTipo.id }}</a></td>
                        <td>{{ reservaEstadoTipo.reservaEstadoTipo }}</td>
                        <td>
                            <a href="{{ path('reservaestadotipo_edit', { 'id': reservaEstadoTipo.id }) }}"><span class="text-warning"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> <span>Editar</span></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
