{% extends 'base.html.twig' %}

{% block body %}
    <header class="content__title">
        <h1>Crear nuevo piso</h1>
        <div class="actions">

        </div>
    </header>
    <div class="card">
        <div class="card-block">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{form_label(form.piso)}}
                        {{form_widget(form.piso, {'attr':{'class':'form-control'} })}}
                        <i class="form-group__bar"></i>
                    </div>
                    <div class="col-md-6">
                        {{form_label(form.detalle)}}
                        {{form_widget(form.detalle, {'attr':{'class':'form-control'} })}}
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                {{ form_widget(form) }}
                <br>
                <button type="submit" class="btn btn-success">Registrar</button>
                <a href="{{ path('pisotipo_index') }}" class="btn btn-warning">Cancelar</a>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
