{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pisotipo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pisoTipo.id }}</td>
            </tr>
            <tr>
                <th>Piso</th>
                <td>{{ pisoTipo.piso }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ pisoTipo.detalle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pisotipo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pisotipo_edit', { 'id': pisoTipo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
