{% extends 'base.html.twig' %}

{% block body %}
    <header class="content__title">
        <h1>Crear Reserva</h1>
        <div class="actions">

        </div>
    </header>

    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-6" style="background: #ffffff">
                    <p>Buscar Huesped</p>
                    <form class="form-inline" onsubmit="buscar(); return false;" method="get">
                      <div class="form-group">
                        <input type="text" class="form-control" id="documento" placeholder="Nro de documento">
                      </div>
                      <button type="submit" class="btn btn-blue"><i class="zmdi zmdi-search"></i></button>
                    </form>
                    <br>
                    <div id="datosHuesped" style="padding: 10px"></div>
                </div>
                <div class="col-md-6" id="divReserva" style="display:none; padding: 10px; border:solid 1px #eeeeee">
                    <h6>Programar reserva</h6>
                    <hr>
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="form-group col-md-6">
                                {{form_label(form.fechaIngreso)}}
                                {{form_widget(form.fechaIngreso)}}
                            </div>
                            <div class="form-group col-md-6">
                                {{form_label(form.fechaSalida)}}
                                {{form_widget(form.fechaSalida)}}
                            </div>
                            <div class="form-group col-md-6">
                                {{form_label(form.horarioEntradaEstimado)}}
                                {{form_widget(form.horarioEntradaEstimado)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                {{form_label(form.habitacion)}}
                                {{form_widget(form.habitacion, {'attr': {'class':'form-control'} })}}
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group col-md-6">
                                {{form_label(form.precioActual)}} Bs.
                                {{form_widget(form.precioActual, {'attr': {'class':'form-control'} })}}
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                {{form_label(form.reservaEstadoTipo)}}
                                {{form_widget(form.reservaEstadoTipo, {'attr': {'class':'form-control'} })}}
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group col-md-6">
                                {{form_label(form.obs)}}
                                {{form_widget(form.obs, {'attr': {'class':'form-control'} })}}
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        {{ form_widget(form) }}
                        <input type="hidden" name="idHuesped" id="idHuesped">
                        <input type="submit" id="btnGuardar" value="Registrar" class="btn btn-info" />
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('reserva_index') }}" class="btn btn-primary">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        var buscar = function(){
            var documento = $('#documento').val();
            $.ajax({
                type: 'GET',
                url: Routing.generate('reserva_huesped_find_documento', {documento: documento}),
                //data: {documento:documento},
                beforeSend: function (){

                },
                success: function(data){
                    $('#datosHuesped').empty();
                    $('#datosHuesped').append(data);
                },
                error: function(){

                }
            });
        }

        var reservar = function(idHuesped){
            $('#idHuesped').val(idHuesped);
            $('#divReserva').css('display','block');
        }
    </script>
{% endblock %}
