{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reserva creation</h1>

    <div class="row">
        <div class="col-md-6" style="background: #ffffff">
            <p>Buscar Huesped</p>
            <form class="form-inline" onsubmit="buscar(); return false;" method="get">
              <div class="form-group">
                <input type="text" class="form-control" id="documento" placeholder="Nro de documento">
              </div>
              <button type="submit" class="btn btn-blue"><i class="zmdi zmdi-search"></i></button>
            </form>
            <br>
            <div id="datosHuesped" style="padding: 10px"></div>
        </div>
        <div class="col-md-6" id="divReserva" style="display:none">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="hidden" name="idHuesped" id="idHuesped">
                <input type="submit" id="btnGuardar" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('reserva_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        var buscar = function(){
            var documento = $('#documento').val();
            $.ajax({
                type: 'GET',
                url: Routing.generate('reserva_huesped_find_documento', {documento: documento}),
                //data: {documento:documento},
                beforeSend: function (){

                },
                success: function(data){
                    $('#datosHuesped').empty();
                    $('#datosHuesped').append(data);
                },
                error: function(){

                }
            });
        }

        var reservar = function(idHuesped){
            $('#idHuesped').val(idHuesped);
            $('#divReserva').css('display','block');
        }
    </script>
{% endblock %}
