{% extends 'base.html.twig' %}

{% block body %}
    <header class="content__title">
        <h1>Datos Reserva</h1>
        <div class="actions">

        </div>
    </header>

    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ reserva.id }}</td>
                            </tr>
                            <tr>
                                <th>Huesped</th>
                                <td>{{ reserva.huesped.nombre }} {{ reserva.huesped.apellidos }}</td>
                            </tr>
                            <tr>
                                <th>Fecha Ingreso</th>
                                <td>{% if reserva.fechaIngreso %}{{ reserva.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Fecha Salida</th>
                                <td>{% if reserva.fechaSalida %}{{ reserva.fechaSalida|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Horario entrada estimado</th>
                                <td>{% if reserva.horarioEntradaEstimado %}{{ reserva.horarioEntradaEstimado|date('H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Habitacion</th>
                                <td>{{ reserva.habitacion.nroHabitacion }}</td>
                            </tr>
                            <tr>
                                <th>Precioactual</th>
                                <td>{{ reserva.precioActual }}</td>
                            </tr>
                            <tr>
                                <th>Obs</th>
                                <td>{{ reserva.obs }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <a href="{{ path('reserva_index') }}" class="btn btn-info">Volver atras</a>
                    <a href="{{ path('reserva_edit', { 'id': reserva.id }) }}" class="btn btn-primary">Editar</a>
                    {{ form_start(delete_form, {'attr':{'style':'display:inline-block'} }) }}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
