{% extends 'base.html.twig' %}

{% block body %}
    <h1>Huespeds list</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th></th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fechanacimiento</th>
                    <th>Documentoexpiracion</th>                    
                    <th>Telefono</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for huesped in huespeds %}
                <tr>
                    <td><a href="{{ path('huesped_show', { 'id': huesped.id }) }}">{{ huesped.id }}</a></td>
                    <td><img src="{{asset('uploads/huesped-foto/' ~ huesped.fotografia )}}" height="30px" width="auto"></td>
                    <td>{{ huesped.nombre }}</td>
                    <td>{{ huesped.apellidos }}</td>
                    <td>{% if huesped.fechaNacimiento %}{{ huesped.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if huesped.documentoExpiracion %}{{ huesped.documentoExpiracion|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ huesped.telefono }}</td>
                    <td>{{ huesped.celular }}</td>
                    <td>{{ huesped.email }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('huesped_show', { 'id': huesped.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('huesped_edit', { 'id': huesped.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <ul>
        <li>
            <a href="{{ path('huesped_new') }}">Create a new huesped</a>
        </li>
    </ul>
{% endblock %}
