{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
        th{
            text-align: right;
        }
        p{
            font-weight: bold;
        }
    </style>
    <header class="content__title">
        <h1>Datos Huesped</h1>
        <div class="actions">

        </div>
    </header>
    <div class="card">
        <div class="card-block">
            <h6>Datos personales</h6>
            <hr>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Nombre</label>
                    <p>{{huesped.nombre}}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label>Apellidos</label>
                    <p>{{huesped.apellidos}}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label>Fecha de nacimiento</label>
                    <p> {% if huesped.fechaNacimiento %} {{huesped.fechaNacimiento|date('d-m-Y')}} {% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Género</label>
                    <p>{% if huesped.generoTipo %} {{huesped.generoTipo.genero}} {% endif %}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label>Pais Nacionalidad</label>
                    <p>{% if huesped.paisNacionalidad %} {{huesped.paisNacionalidad.pais}} {% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Documento Tipo</label>
                    <p>{% if huesped.documentoTipo %} {{huesped.documentoTipo.documento}} {% endif %}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label>Documento</label>
                    <p>{{huesped.documento}}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label>Documento Expiracion</label>
                    <p>{{huesped.documentoExpiracion|date('d-m-Y')}}</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label>Teléfono</label>
                    <p>{{huesped.telefono}}</p>
                </div>
                <div class="form-group col-sm-3">
                    <label>Celular</label>
                    <p>{{huesped.celular}}</p>
                </div>
                <div class="form-group col-sm-3">
                    <label>Teléfono de Referencia</label>
                    <p>{{huesped.telefonoReferencia}}</p>
                </div>
                <div class="form-group col-sm-3">
                    <label>Email</label>
                    <p>{{huesped.email}}</p>
                </div>
            </div>
            <h6>Datos referenciales</h6>
            <hr>

            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Pais</label>
                    <p>{% if huesped.pais %} {{huesped.pais.pais}} {% endif %}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label>Ciudad</label>
                    <p>{{huesped.ciudad}}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label>Región</label>
                    <p>{{huesped.region}}</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Residencia Tipo</label>
                    <p>{% if huesped.residenciaTipo %} {{huesped.residenciaTipo.residencia}} {% endif %}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label>Residencia</label>
                    <p>{{huesped.residencia}}</p>
                </div>
                <div class="form-group col-sm-4">
                    <label>Número</label>
                    <p>{{huesped.numero}}</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label>Código postal</label>
                    <p>{{huesped.codigoPostal}}</p>
                </div>
                <div class="form-group col-sm-3">
                    <label>Fax</label>
                    <p>{{huesped.fax}}</p>
                </div>
                <div class="form-group col-sm-6">
                    <label>Observación</label>
                    <p>{{huesped.obs}}</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Fotografia</label>
                    <p><img src="{{asset('uploads/huesped-foto/' ~ huesped.fotografia )}}" height="150px" width="auto"</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="{{ path('huesped_index') }}" class="btn btn-primary">Volver atras</a>
                    <a href="{{ path('huesped_edit', { 'id': huesped.id }) }}" class="btn btn-info">Editar</a>
                    {{ form_start(delete_form, {'attr': {'style':'display:inline-block'} }) }}
                        <input type="submit" value="Eliminar" class="btn btn-warning" onclick="return confirm('Realmente desea eliminar el registro?');">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
