{% extends 'base.html.twig' %}

{% block body %}
    <header class="content__title">
        <h1>Servicios</h1>
        <div class="actions">
            <a href="{{ path('serviciotipo_new') }}"> <span><i class="zmdi zmdi-plus zmdi-hc-fw"></i> <span>Crear servicio</span></span></a>
        </div>
    </header>
    <div class="card">
        <div class="card-block">
            <table class="table" id="data-table">
                <thead class="table-inverse">
                    <tr>
                        <th>Id</th>
                        <th>Servicio</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for servicioTipo in servicioTipos %}
                    <tr>
                        <td><a href="{{ path('serviciotipo_show', { 'id': servicioTipo.id }) }}">{{ servicioTipo.id }}</a></td>
                        <td>{{ servicioTipo.servicio }}</td>
                        <td>{{ servicioTipo.precio }}</td>
                        <td>
                            <a href="{{ path('serviciotipo_edit', { 'id': servicioTipo.id }) }}"><span class="text-warning"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> <span>Editar</span></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
