{% extends 'base.html.twig' %}

{% block body %}
    <header class="content__title">
        <h1>Editar estado</h1>
        <div class="actions">

        </div>
    </header>
    <div class="card">
        <div class="card-block">
            {{ form_start(edit_form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{form_label(edit_form.estado)}}
                        {{form_widget(edit_form.estado, {'attr':{'class':'form-control'} })}}
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                {{ form_widget(edit_form) }}
                <br>
                <button type="submit" class="btn btn-success">Registrar</button>
                <a href="{{ path('estadotipo_index') }}" class="btn btn-warning">Cancelar</a>
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
                {{ form_widget(edit_form) }}
                <br>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}
